openapi: 3.0.1
info:
  title: Security
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /security:
    get:
      tags:
        - security.security
      summary: Get security
      operationId: security.security_GetSecurity
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - providerStatus
                - incidents
                - attackSimulation
                - alerts
                - cloudAppSecurityProfiles
                - domainSecurityProfiles
                - fileSecurityProfiles
                - hostSecurityProfiles
                - ipSecurityProfiles
                - providerTenantSettings
                - secureScoreControlProfiles
                - secureScores
                - securityActions
                - tiIndicators
                - userSecurityProfiles
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - incidents
                - attackSimulation
                - alerts
                - cloudAppSecurityProfiles
                - domainSecurityProfiles
                - fileSecurityProfiles
                - hostSecurityProfiles
                - ipSecurityProfiles
                - providerTenantSettings
                - secureScoreControlProfiles
                - secureScores
                - securityActions
                - tiIndicators
                - userSecurityProfiles
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security'
          links:
            incidents:
              operationId: security.ListIncidents
            attackSimulation:
              operationId: security.GetAttackSimulation
            alerts:
              operationId: security.ListAlerts
            cloudAppSecurityProfiles:
              operationId: security.ListCloudAppSecurityProfiles
            domainSecurityProfiles:
              operationId: security.ListDomainSecurityProfiles
            fileSecurityProfiles:
              operationId: security.ListFileSecurityProfiles
            hostSecurityProfiles:
              operationId: security.ListHostSecurityProfiles
            ipSecurityProfiles:
              operationId: security.ListIpSecurityProfiles
            providerTenantSettings:
              operationId: security.ListProviderTenantSettings
            secureScoreControlProfiles:
              operationId: security.ListSecureScoreControlProfiles
            secureScores:
              operationId: security.ListSecureScores
            securityActions:
              operationId: security.ListSecurityActions
            tiIndicators:
              operationId: security.ListTiIndicators
            userSecurityProfiles:
              operationId: security.ListUserSecurityProfiles
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.security
      summary: Update security
      operationId: security.security_UpdateSecurity
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/alerts:
    get:
      tags:
        - security.alert
      summary: Get alerts from security
      operationId: security_ListAlerts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityGroupName
                - activityGroupName desc
                - alertDetections
                - alertDetections desc
                - assignedTo
                - assignedTo desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - category
                - category desc
                - closedDateTime
                - closedDateTime desc
                - cloudAppStates
                - cloudAppStates desc
                - comments
                - comments desc
                - confidence
                - confidence desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - detectionIds
                - detectionIds desc
                - eventDateTime
                - eventDateTime desc
                - feedback
                - feedback desc
                - fileStates
                - fileStates desc
                - historyStates
                - historyStates desc
                - hostStates
                - hostStates desc
                - incidentIds
                - incidentIds desc
                - investigationSecurityStates
                - investigationSecurityStates desc
                - lastEventDateTime
                - lastEventDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - malwareStates
                - malwareStates desc
                - messageSecurityStates
                - messageSecurityStates desc
                - networkConnections
                - networkConnections desc
                - processes
                - processes desc
                - recommendedActions
                - recommendedActions desc
                - registryKeyStates
                - registryKeyStates desc
                - securityResources
                - securityResources desc
                - severity
                - severity desc
                - sourceMaterials
                - sourceMaterials desc
                - status
                - status desc
                - tags
                - tags desc
                - title
                - title desc
                - triggers
                - triggers desc
                - uriClickSecurityStates
                - uriClickSecurityStates desc
                - userStates
                - userStates desc
                - vendorInformation
                - vendorInformation desc
                - vulnerabilityStates
                - vulnerabilityStates desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupName
                - alertDetections
                - assignedTo
                - azureSubscriptionId
                - azureTenantId
                - category
                - closedDateTime
                - cloudAppStates
                - comments
                - confidence
                - createdDateTime
                - description
                - detectionIds
                - eventDateTime
                - feedback
                - fileStates
                - historyStates
                - hostStates
                - incidentIds
                - investigationSecurityStates
                - lastEventDateTime
                - lastModifiedDateTime
                - malwareStates
                - messageSecurityStates
                - networkConnections
                - processes
                - recommendedActions
                - registryKeyStates
                - securityResources
                - severity
                - sourceMaterials
                - status
                - tags
                - title
                - triggers
                - uriClickSecurityStates
                - userStates
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of alert
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.alert'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.alert
      summary: Create new navigation property to alerts for security
      operationId: security_CreateAlerts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/alerts/{alert-id}':
    get:
      tags:
        - security.alert
      summary: Get alerts from security
      operationId: security_GetAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupName
                - alertDetections
                - assignedTo
                - azureSubscriptionId
                - azureTenantId
                - category
                - closedDateTime
                - cloudAppStates
                - comments
                - confidence
                - createdDateTime
                - description
                - detectionIds
                - eventDateTime
                - feedback
                - fileStates
                - historyStates
                - hostStates
                - incidentIds
                - investigationSecurityStates
                - lastEventDateTime
                - lastModifiedDateTime
                - malwareStates
                - messageSecurityStates
                - networkConnections
                - processes
                - recommendedActions
                - registryKeyStates
                - securityResources
                - severity
                - sourceMaterials
                - status
                - tags
                - title
                - triggers
                - uriClickSecurityStates
                - userStates
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.alert
      summary: Update the navigation property alerts in security
      operationId: security_UpdateAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.alert
      summary: Delete navigation property alerts for security
      operationId: security_DeleteAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/alerts/microsoft.graph.updateAlerts:
    post:
      tags:
        - security.Actions
      summary: Invoke action updateAlerts
      operationId: security.alerts_updateAlerts
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.alert'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of alert
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.alert'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /security/attackSimulation:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get attackSimulation from security
      operationId: security_GetAttackSimulation
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - simulations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - simulations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
          links:
            simulations:
              operationId: security.AttackSimulation.ListSimulations
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property attackSimulation in security
      operationId: security_UpdateAttackSimulation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property attackSimulation for security
      operationId: security_DeleteAttackSimulation
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulations:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulations from security
      operationId: security.attackSimulation_ListSimulations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - attackTechnique
                - attackTechnique desc
                - attackType
                - attackType desc
                - cleanupArtifacts
                - cleanupArtifacts desc
                - completionDateTime
                - completionDateTime desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enableRegionTimezoneDelivery
                - enableRegionTimezoneDelivery desc
                - includeAllAccountTargets
                - includeAllAccountTargets desc
                - isAutomated
                - isAutomated desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - launchDateTime
                - launchDateTime desc
                - mode
                - mode desc
                - payloadDeliveryPlatform
                - payloadDeliveryPlatform desc
                - payloadSource
                - payloadSource desc
                - report
                - report desc
                - status
                - status desc
                - trainingAssignmentPreference
                - trainingAssignmentPreference desc
                - trainingContentPreference
                - trainingContentPreference desc
                - trainingDueDateTime
                - trainingDueDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attackTechnique
                - attackType
                - cleanupArtifacts
                - completionDateTime
                - createdBy
                - createdDateTime
                - description
                - displayName
                - enableRegionTimezoneDelivery
                - includeAllAccountTargets
                - isAutomated
                - lastModifiedBy
                - lastModifiedDateTime
                - launchDateTime
                - mode
                - payloadDeliveryPlatform
                - payloadSource
                - report
                - status
                - trainingAssignmentPreference
                - trainingContentPreference
                - trainingDueDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of simulation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.simulation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to simulations for security
      operationId: security.attackSimulation_CreateSimulations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulations/{simulation-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulations from security
      operationId: security.attackSimulation_GetSimulations
      parameters:
        - name: simulation-id
          in: path
          description: 'key: id of simulation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attackTechnique
                - attackType
                - cleanupArtifacts
                - completionDateTime
                - createdBy
                - createdDateTime
                - description
                - displayName
                - enableRegionTimezoneDelivery
                - includeAllAccountTargets
                - isAutomated
                - lastModifiedBy
                - lastModifiedDateTime
                - launchDateTime
                - mode
                - payloadDeliveryPlatform
                - payloadSource
                - report
                - status
                - trainingAssignmentPreference
                - trainingContentPreference
                - trainingDueDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property simulations in security
      operationId: security.attackSimulation_UpdateSimulations
      parameters:
        - name: simulation-id
          in: path
          description: 'key: id of simulation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property simulations for security
      operationId: security.attackSimulation_DeleteSimulations
      parameters:
        - name: simulation-id
          in: path
          description: 'key: id of simulation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/cloudAppSecurityProfiles:
    get:
      tags:
        - security.cloudAppSecurityProfile
      summary: Get cloudAppSecurityProfiles from security
      operationId: security_ListCloudAppSecurityProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - createdDateTime
                - createdDateTime desc
                - deploymentPackageUrl
                - deploymentPackageUrl desc
                - destinationServiceName
                - destinationServiceName desc
                - isSigned
                - isSigned desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - manifest
                - manifest desc
                - name
                - name desc
                - permissionsRequired
                - permissionsRequired desc
                - platform
                - platform desc
                - policyName
                - policyName desc
                - publisher
                - publisher desc
                - riskScore
                - riskScore desc
                - tags
                - tags desc
                - type
                - type desc
                - vendorInformation
                - vendorInformation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - azureSubscriptionId
                - azureTenantId
                - createdDateTime
                - deploymentPackageUrl
                - destinationServiceName
                - isSigned
                - lastModifiedDateTime
                - manifest
                - name
                - permissionsRequired
                - platform
                - policyName
                - publisher
                - riskScore
                - tags
                - type
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of cloudAppSecurityProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudAppSecurityProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.cloudAppSecurityProfile
      summary: Create new navigation property to cloudAppSecurityProfiles for security
      operationId: security_CreateCloudAppSecurityProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.cloudAppSecurityProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudAppSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cloudAppSecurityProfiles/{cloudAppSecurityProfile-id}':
    get:
      tags:
        - security.cloudAppSecurityProfile
      summary: Get cloudAppSecurityProfiles from security
      operationId: security_GetCloudAppSecurityProfiles
      parameters:
        - name: cloudAppSecurityProfile-id
          in: path
          description: 'key: id of cloudAppSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: cloudAppSecurityProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - azureSubscriptionId
                - azureTenantId
                - createdDateTime
                - deploymentPackageUrl
                - destinationServiceName
                - isSigned
                - lastModifiedDateTime
                - manifest
                - name
                - permissionsRequired
                - platform
                - policyName
                - publisher
                - riskScore
                - tags
                - type
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudAppSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.cloudAppSecurityProfile
      summary: Update the navigation property cloudAppSecurityProfiles in security
      operationId: security_UpdateCloudAppSecurityProfiles
      parameters:
        - name: cloudAppSecurityProfile-id
          in: path
          description: 'key: id of cloudAppSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: cloudAppSecurityProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.cloudAppSecurityProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.cloudAppSecurityProfile
      summary: Delete navigation property cloudAppSecurityProfiles for security
      operationId: security_DeleteCloudAppSecurityProfiles
      parameters:
        - name: cloudAppSecurityProfile-id
          in: path
          description: 'key: id of cloudAppSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: cloudAppSecurityProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/domainSecurityProfiles:
    get:
      tags:
        - security.domainSecurityProfile
      summary: Get domainSecurityProfiles from security
      operationId: security_ListDomainSecurityProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityGroupNames
                - activityGroupNames desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - countHits
                - countHits desc
                - countInOrg
                - countInOrg desc
                - domainCategories
                - domainCategories desc
                - domainRegisteredDateTime
                - domainRegisteredDateTime desc
                - firstSeenDateTime
                - firstSeenDateTime desc
                - lastSeenDateTime
                - lastSeenDateTime desc
                - name
                - name desc
                - registrant
                - registrant desc
                - riskScore
                - riskScore desc
                - tags
                - tags desc
                - vendorInformation
                - vendorInformation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupNames
                - azureSubscriptionId
                - azureTenantId
                - countHits
                - countInOrg
                - domainCategories
                - domainRegisteredDateTime
                - firstSeenDateTime
                - lastSeenDateTime
                - name
                - registrant
                - riskScore
                - tags
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of domainSecurityProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.domainSecurityProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.domainSecurityProfile
      summary: Create new navigation property to domainSecurityProfiles for security
      operationId: security_CreateDomainSecurityProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domainSecurityProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domainSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/domainSecurityProfiles/{domainSecurityProfile-id}':
    get:
      tags:
        - security.domainSecurityProfile
      summary: Get domainSecurityProfiles from security
      operationId: security_GetDomainSecurityProfiles
      parameters:
        - name: domainSecurityProfile-id
          in: path
          description: 'key: id of domainSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: domainSecurityProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupNames
                - azureSubscriptionId
                - azureTenantId
                - countHits
                - countInOrg
                - domainCategories
                - domainRegisteredDateTime
                - firstSeenDateTime
                - lastSeenDateTime
                - name
                - registrant
                - riskScore
                - tags
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domainSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.domainSecurityProfile
      summary: Update the navigation property domainSecurityProfiles in security
      operationId: security_UpdateDomainSecurityProfiles
      parameters:
        - name: domainSecurityProfile-id
          in: path
          description: 'key: id of domainSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: domainSecurityProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domainSecurityProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.domainSecurityProfile
      summary: Delete navigation property domainSecurityProfiles for security
      operationId: security_DeleteDomainSecurityProfiles
      parameters:
        - name: domainSecurityProfile-id
          in: path
          description: 'key: id of domainSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: domainSecurityProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/fileSecurityProfiles:
    get:
      tags:
        - security.fileSecurityProfile
      summary: Get fileSecurityProfiles from security
      operationId: security_ListFileSecurityProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityGroupNames
                - activityGroupNames desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - certificateThumbprint
                - certificateThumbprint desc
                - extensions
                - extensions desc
                - fileType
                - fileType desc
                - firstSeenDateTime
                - firstSeenDateTime desc
                - hashes
                - hashes desc
                - lastSeenDateTime
                - lastSeenDateTime desc
                - malwareStates
                - malwareStates desc
                - names
                - names desc
                - riskScore
                - riskScore desc
                - size
                - size desc
                - tags
                - tags desc
                - vendorInformation
                - vendorInformation desc
                - vulnerabilityStates
                - vulnerabilityStates desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupNames
                - azureSubscriptionId
                - azureTenantId
                - certificateThumbprint
                - extensions
                - fileType
                - firstSeenDateTime
                - hashes
                - lastSeenDateTime
                - malwareStates
                - names
                - riskScore
                - size
                - tags
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of fileSecurityProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.fileSecurityProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.fileSecurityProfile
      summary: Create new navigation property to fileSecurityProfiles for security
      operationId: security_CreateFileSecurityProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.fileSecurityProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.fileSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/fileSecurityProfiles/{fileSecurityProfile-id}':
    get:
      tags:
        - security.fileSecurityProfile
      summary: Get fileSecurityProfiles from security
      operationId: security_GetFileSecurityProfiles
      parameters:
        - name: fileSecurityProfile-id
          in: path
          description: 'key: id of fileSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: fileSecurityProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupNames
                - azureSubscriptionId
                - azureTenantId
                - certificateThumbprint
                - extensions
                - fileType
                - firstSeenDateTime
                - hashes
                - lastSeenDateTime
                - malwareStates
                - names
                - riskScore
                - size
                - tags
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.fileSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.fileSecurityProfile
      summary: Update the navigation property fileSecurityProfiles in security
      operationId: security_UpdateFileSecurityProfiles
      parameters:
        - name: fileSecurityProfile-id
          in: path
          description: 'key: id of fileSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: fileSecurityProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.fileSecurityProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.fileSecurityProfile
      summary: Delete navigation property fileSecurityProfiles for security
      operationId: security_DeleteFileSecurityProfiles
      parameters:
        - name: fileSecurityProfile-id
          in: path
          description: 'key: id of fileSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: fileSecurityProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/hostSecurityProfiles:
    get:
      tags:
        - security.hostSecurityProfile
      summary: Get hostSecurityProfiles from security
      operationId: security_ListHostSecurityProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - firstSeenDateTime
                - firstSeenDateTime desc
                - fqdn
                - fqdn desc
                - isAzureAdJoined
                - isAzureAdJoined desc
                - isAzureAdRegistered
                - isAzureAdRegistered desc
                - isHybridAzureDomainJoined
                - isHybridAzureDomainJoined desc
                - lastSeenDateTime
                - lastSeenDateTime desc
                - logonUsers
                - logonUsers desc
                - netBiosName
                - netBiosName desc
                - networkInterfaces
                - networkInterfaces desc
                - os
                - os desc
                - osVersion
                - osVersion desc
                - parentHost
                - parentHost desc
                - relatedHostIds
                - relatedHostIds desc
                - riskScore
                - riskScore desc
                - tags
                - tags desc
                - vendorInformation
                - vendorInformation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - azureSubscriptionId
                - azureTenantId
                - firstSeenDateTime
                - fqdn
                - isAzureAdJoined
                - isAzureAdRegistered
                - isHybridAzureDomainJoined
                - lastSeenDateTime
                - logonUsers
                - netBiosName
                - networkInterfaces
                - os
                - osVersion
                - parentHost
                - relatedHostIds
                - riskScore
                - tags
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of hostSecurityProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.hostSecurityProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.hostSecurityProfile
      summary: Create new navigation property to hostSecurityProfiles for security
      operationId: security_CreateHostSecurityProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.hostSecurityProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.hostSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/hostSecurityProfiles/{hostSecurityProfile-id}':
    get:
      tags:
        - security.hostSecurityProfile
      summary: Get hostSecurityProfiles from security
      operationId: security_GetHostSecurityProfiles
      parameters:
        - name: hostSecurityProfile-id
          in: path
          description: 'key: id of hostSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: hostSecurityProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - azureSubscriptionId
                - azureTenantId
                - firstSeenDateTime
                - fqdn
                - isAzureAdJoined
                - isAzureAdRegistered
                - isHybridAzureDomainJoined
                - lastSeenDateTime
                - logonUsers
                - netBiosName
                - networkInterfaces
                - os
                - osVersion
                - parentHost
                - relatedHostIds
                - riskScore
                - tags
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.hostSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.hostSecurityProfile
      summary: Update the navigation property hostSecurityProfiles in security
      operationId: security_UpdateHostSecurityProfiles
      parameters:
        - name: hostSecurityProfile-id
          in: path
          description: 'key: id of hostSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: hostSecurityProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.hostSecurityProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.hostSecurityProfile
      summary: Delete navigation property hostSecurityProfiles for security
      operationId: security_DeleteHostSecurityProfiles
      parameters:
        - name: hostSecurityProfile-id
          in: path
          description: 'key: id of hostSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: hostSecurityProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/incidents:
    get:
      tags:
        - security.incident
      summary: Get incidents from security
      operationId: security_ListIncidents
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - assignedTo
                - assignedTo desc
                - classification
                - classification desc
                - comments
                - comments desc
                - createdDateTime
                - createdDateTime desc
                - determination
                - determination desc
                - displayName
                - displayName desc
                - incidentWebUrl
                - incidentWebUrl desc
                - lastUpdateDateTime
                - lastUpdateDateTime desc
                - redirectIncidentId
                - redirectIncidentId desc
                - severity
                - severity desc
                - status
                - status desc
                - tags
                - tags desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignedTo
                - classification
                - comments
                - createdDateTime
                - determination
                - displayName
                - incidentWebUrl
                - lastUpdateDateTime
                - redirectIncidentId
                - severity
                - status
                - tags
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of incident
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.incident'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.incident
      summary: Create new navigation property to incidents for security
      operationId: security_CreateIncidents
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.incident'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.incident'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/incidents/{incident-id}':
    get:
      tags:
        - security.incident
      summary: Get incidents from security
      operationId: security_GetIncidents
      parameters:
        - name: incident-id
          in: path
          description: 'key: id of incident'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: incident
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignedTo
                - classification
                - comments
                - createdDateTime
                - determination
                - displayName
                - incidentWebUrl
                - lastUpdateDateTime
                - redirectIncidentId
                - severity
                - status
                - tags
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.incident'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.incident
      summary: Update the navigation property incidents in security
      operationId: security_UpdateIncidents
      parameters:
        - name: incident-id
          in: path
          description: 'key: id of incident'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: incident
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.incident'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.incident
      summary: Delete navigation property incidents for security
      operationId: security_DeleteIncidents
      parameters:
        - name: incident-id
          in: path
          description: 'key: id of incident'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: incident
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/ipSecurityProfiles:
    get:
      tags:
        - security.ipSecurityProfile
      summary: Get ipSecurityProfiles from security
      operationId: security_ListIpSecurityProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityGroupNames
                - activityGroupNames desc
                - address
                - address desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - countHits
                - countHits desc
                - countHosts
                - countHosts desc
                - firstSeenDateTime
                - firstSeenDateTime desc
                - ipCategories
                - ipCategories desc
                - ipReferenceData
                - ipReferenceData desc
                - lastSeenDateTime
                - lastSeenDateTime desc
                - riskScore
                - riskScore desc
                - tags
                - tags desc
                - vendorInformation
                - vendorInformation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupNames
                - address
                - azureSubscriptionId
                - azureTenantId
                - countHits
                - countHosts
                - firstSeenDateTime
                - ipCategories
                - ipReferenceData
                - lastSeenDateTime
                - riskScore
                - tags
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of ipSecurityProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.ipSecurityProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.ipSecurityProfile
      summary: Create new navigation property to ipSecurityProfiles for security
      operationId: security_CreateIpSecurityProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ipSecurityProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ipSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/ipSecurityProfiles/{ipSecurityProfile-id}':
    get:
      tags:
        - security.ipSecurityProfile
      summary: Get ipSecurityProfiles from security
      operationId: security_GetIpSecurityProfiles
      parameters:
        - name: ipSecurityProfile-id
          in: path
          description: 'key: id of ipSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ipSecurityProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupNames
                - address
                - azureSubscriptionId
                - azureTenantId
                - countHits
                - countHosts
                - firstSeenDateTime
                - ipCategories
                - ipReferenceData
                - lastSeenDateTime
                - riskScore
                - tags
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ipSecurityProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.ipSecurityProfile
      summary: Update the navigation property ipSecurityProfiles in security
      operationId: security_UpdateIpSecurityProfiles
      parameters:
        - name: ipSecurityProfile-id
          in: path
          description: 'key: id of ipSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ipSecurityProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ipSecurityProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.ipSecurityProfile
      summary: Delete navigation property ipSecurityProfiles for security
      operationId: security_DeleteIpSecurityProfiles
      parameters:
        - name: ipSecurityProfile-id
          in: path
          description: 'key: id of ipSecurityProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ipSecurityProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/microsoft.graph.runHuntingQuery:
    post:
      tags:
        - security.Actions
      summary: Invoke action runHuntingQuery
      operationId: security_runHuntingQuery
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.huntingQueryResults'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /security/providerTenantSettings:
    get:
      tags:
        - security.providerTenantSetting
      summary: Get providerTenantSettings from security
      operationId: security_ListProviderTenantSettings
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - azureTenantId
                - azureTenantId desc
                - enabled
                - enabled desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - provider
                - provider desc
                - vendor
                - vendor desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - azureTenantId
                - enabled
                - lastModifiedDateTime
                - provider
                - vendor
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of providerTenantSetting
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.providerTenantSetting'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.providerTenantSetting
      summary: Create new navigation property to providerTenantSettings for security
      operationId: security_CreateProviderTenantSettings
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.providerTenantSetting'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.providerTenantSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/providerTenantSettings/{providerTenantSetting-id}':
    get:
      tags:
        - security.providerTenantSetting
      summary: Get providerTenantSettings from security
      operationId: security_GetProviderTenantSettings
      parameters:
        - name: providerTenantSetting-id
          in: path
          description: 'key: id of providerTenantSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: providerTenantSetting
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - azureTenantId
                - enabled
                - lastModifiedDateTime
                - provider
                - vendor
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.providerTenantSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.providerTenantSetting
      summary: Update the navigation property providerTenantSettings in security
      operationId: security_UpdateProviderTenantSettings
      parameters:
        - name: providerTenantSetting-id
          in: path
          description: 'key: id of providerTenantSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: providerTenantSetting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.providerTenantSetting'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.providerTenantSetting
      summary: Delete navigation property providerTenantSettings for security
      operationId: security_DeleteProviderTenantSettings
      parameters:
        - name: providerTenantSetting-id
          in: path
          description: 'key: id of providerTenantSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: providerTenantSetting
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/secureScoreControlProfiles:
    get:
      tags:
        - security.secureScoreControlProfile
      summary: Get secureScoreControlProfiles from security
      operationId: security_ListSecureScoreControlProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - actionType
                - actionType desc
                - actionUrl
                - actionUrl desc
                - azureTenantId
                - azureTenantId desc
                - complianceInformation
                - complianceInformation desc
                - controlCategory
                - controlCategory desc
                - controlStateUpdates
                - controlStateUpdates desc
                - deprecated
                - deprecated desc
                - implementationCost
                - implementationCost desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - maxScore
                - maxScore desc
                - rank
                - rank desc
                - remediation
                - remediation desc
                - remediationImpact
                - remediationImpact desc
                - service
                - service desc
                - threats
                - threats desc
                - tier
                - tier desc
                - title
                - title desc
                - userImpact
                - userImpact desc
                - vendorInformation
                - vendorInformation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actionType
                - actionUrl
                - azureTenantId
                - complianceInformation
                - controlCategory
                - controlStateUpdates
                - deprecated
                - implementationCost
                - lastModifiedDateTime
                - maxScore
                - rank
                - remediation
                - remediationImpact
                - service
                - threats
                - tier
                - title
                - userImpact
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of secureScoreControlProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.secureScoreControlProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.secureScoreControlProfile
      summary: Create new navigation property to secureScoreControlProfiles for security
      operationId: security_CreateSecureScoreControlProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.secureScoreControlProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.secureScoreControlProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/secureScoreControlProfiles/{secureScoreControlProfile-id}':
    get:
      tags:
        - security.secureScoreControlProfile
      summary: Get secureScoreControlProfiles from security
      operationId: security_GetSecureScoreControlProfiles
      parameters:
        - name: secureScoreControlProfile-id
          in: path
          description: 'key: id of secureScoreControlProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: secureScoreControlProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actionType
                - actionUrl
                - azureTenantId
                - complianceInformation
                - controlCategory
                - controlStateUpdates
                - deprecated
                - implementationCost
                - lastModifiedDateTime
                - maxScore
                - rank
                - remediation
                - remediationImpact
                - service
                - threats
                - tier
                - title
                - userImpact
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.secureScoreControlProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.secureScoreControlProfile
      summary: Update the navigation property secureScoreControlProfiles in security
      operationId: security_UpdateSecureScoreControlProfiles
      parameters:
        - name: secureScoreControlProfile-id
          in: path
          description: 'key: id of secureScoreControlProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: secureScoreControlProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.secureScoreControlProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.secureScoreControlProfile
      summary: Delete navigation property secureScoreControlProfiles for security
      operationId: security_DeleteSecureScoreControlProfiles
      parameters:
        - name: secureScoreControlProfile-id
          in: path
          description: 'key: id of secureScoreControlProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: secureScoreControlProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/secureScores:
    get:
      tags:
        - security.secureScore
      summary: Get secureScores from security
      operationId: security_ListSecureScores
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activeUserCount
                - activeUserCount desc
                - averageComparativeScores
                - averageComparativeScores desc
                - azureTenantId
                - azureTenantId desc
                - controlScores
                - controlScores desc
                - createdDateTime
                - createdDateTime desc
                - currentScore
                - currentScore desc
                - enabledServices
                - enabledServices desc
                - licensedUserCount
                - licensedUserCount desc
                - maxScore
                - maxScore desc
                - vendorInformation
                - vendorInformation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeUserCount
                - averageComparativeScores
                - azureTenantId
                - controlScores
                - createdDateTime
                - currentScore
                - enabledServices
                - licensedUserCount
                - maxScore
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of secureScore
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.secureScore'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.secureScore
      summary: Create new navigation property to secureScores for security
      operationId: security_CreateSecureScores
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.secureScore'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.secureScore'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/secureScores/{secureScore-id}':
    get:
      tags:
        - security.secureScore
      summary: Get secureScores from security
      operationId: security_GetSecureScores
      parameters:
        - name: secureScore-id
          in: path
          description: 'key: id of secureScore'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: secureScore
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeUserCount
                - averageComparativeScores
                - azureTenantId
                - controlScores
                - createdDateTime
                - currentScore
                - enabledServices
                - licensedUserCount
                - maxScore
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.secureScore'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.secureScore
      summary: Update the navigation property secureScores in security
      operationId: security_UpdateSecureScores
      parameters:
        - name: secureScore-id
          in: path
          description: 'key: id of secureScore'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: secureScore
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.secureScore'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.secureScore
      summary: Delete navigation property secureScores for security
      operationId: security_DeleteSecureScores
      parameters:
        - name: secureScore-id
          in: path
          description: 'key: id of secureScore'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: secureScore
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/securityActions:
    get:
      tags:
        - security.securityAction
      summary: Get securityActions from security
      operationId: security_ListSecurityActions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - actionReason
                - actionReason desc
                - appId
                - appId desc
                - azureTenantId
                - azureTenantId desc
                - clientContext
                - clientContext desc
                - completedDateTime
                - completedDateTime desc
                - createdDateTime
                - createdDateTime desc
                - errorInfo
                - errorInfo desc
                - lastActionDateTime
                - lastActionDateTime desc
                - name
                - name desc
                - parameters
                - parameters desc
                - states
                - states desc
                - status
                - status desc
                - user
                - user desc
                - vendorInformation
                - vendorInformation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actionReason
                - appId
                - azureTenantId
                - clientContext
                - completedDateTime
                - createdDateTime
                - errorInfo
                - lastActionDateTime
[...]
